﻿body {
    font-family: 'Roboto';
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h3 {
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
    font-size: 16px;
}

p {
    padding: 4px 0;
    margin: 0;
}

ul {
    margin: 8px 0;
}

li {
    padding: 4px 0;
}

code {
    padding: 2px;
    border-radius: 2px;
    background: #EEEEEE;
    color: #424242;
}

div.header {
    height: 52px;
    line-height: 52px;
    padding: 0 18px;
    background-color: #03A9F4;
    color: white;
    font-size: 18px;
}

div.content {
    padding: 18px;
    width: 60%;
}